@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="MatrixRotator" lang="ru">
<head>
    <title>Matrix Rotator</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- inject:js -->
    <script src="/dist/js/vendors.min.js"></script>
    <script src="/dist/js/scripts.js"></script>
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/dist/css/vendors.css">
    <link rel="stylesheet" href="/dist/css/styles.css">
    <!-- endinject -->
</head>
<body>
<div ng-controller="MasterCtrl">
    <h1>Hello</h1>
    <ui-view></ui-view>
</div>
</body>
</html>